<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
    <h1>Student Management System</h1>
    <main id="main">
        <div class="navbar">
            <a href="/view">View Student</a>
            <a href="/add">Add Student</a>
            <a href="/search">Search Student</a>
            <a href="update">Update Student</a>
            <a href="/delete">Delete Student</a>
        </div>
        <div class="home-heading">
            <h1>Welcome to Student Management System</h1>
        </div>
        <div><a href="/view"><button type="submit">Proceed</button></a></div>
    </main>    
</body>
</html>