*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    
}

body{
    background: black;
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

html,body{
    padding: 0%;
    margin: 0%;
    overflow-x: hidden;
}



.form-container{
    margin: auto;
    width: 70%;
    margin-top: 6%;
}

table{
    border-spacing:5px;
    width: 100%;
    text-align: center;
}


#thead{
    background-color:aquamarine;
    color: #000;
    font-size:larger;
    font-weight: bold;
    opacity: 60%;
}

th,td{
    padding: 1%;
    border-bottom: 1px white solid;
    border-top: 1px white solid;
    color:white;
}

th{
    color: #000;
}



.btn a{
    display:contents;
    justify-content: end;
    margin: auto;
    
}

.btn button  {
    background:aquamarine;
    padding:1%;
    color: #000;
    font-weight: bold;
    box-sizing: border-box;
    box-shadow:black;
    cursor: pointer;
    margin: 2% ;
    border-radius: 50px;
    opacity: 60%;
}

.btn button:hover{
    border: 1px solid aquamarine;
    background: #000;
    opacity: 100%;
    color: #fff;
    transition: .5s;
}

body h1{
    margin: 0;
    padding: 1%;
    text-align: center;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: aquamarine;   
    color: #000;
}

body h1:hover{
    color: #fff;  
    background-color: #000;
    transition: 1s;
}


.Save{
    float: right;
    background:aquamarine;
    padding:1%;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    margin: 1% ;
    border-radius: 20px;
    opacity: 60%;
    width: 10%;
}
    
.Save:hover{
        border: 1px solid aquamarine;
        background: #000;
        opacity: 100%;
        transition: .5s;
        color: #fff;

}


.Save a{
    text-decoration: none;
    color: black;
    font-size: larger;
}

.Save a:hover{
    color: #fff;

}